* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
}

.main {
  width: 100%;
  min-height: 95vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(./assests/image/bc.jpg);
  background-position: center;
  background-size: cover;
  padding: 0.75vw 8%;
  position: relative;
}

/* ************************************** */
/* nav bar */
nav {
  max-width: 76vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.567vw;
}

nav .nav_right {
  display: flex;
  gap: 0.758vw;
}

nav .nav_right img {
  position: relative;
  right: -3.03vw;
  top: 0.076vw;

  color: white;
}

/* *********************************** */
/* main_box */
.main_box {
  margin-top: 8.091vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.151vw;
  color: white;
  padding: 2.197vw;
}

.main_box> :nth-child(1) {
  font-size: 3.636vw;
  font-weight: 900;
  text-align: center;
}

.main_box> :nth-child(2) {
  font-size: 1.818vw;
  font-weight: 420;
  text-align: center;
}

.main_box> :nth-child(3) {
  font-size: 1.515vw;
  font-weight: 400;
  text-align: center;
}

.main_box_form {
  display: flex;
  justify-content: center;
  gap: 0.758vw;
  position: relative;
}

.btn {
  color: white;
  background-color: rgb(229, 9, 20);
  border: none;
  border-radius: 0.455vw;
}

.btn_red_sn {
  font-weight: 600;
  font-size: 1.212vw;
  padding: 0.379vw 0.985vw;
}

.btn_red_gs {
  padding: 1.136vw 1.364vw;
  font-size: 1.818vw;
  font-weight: 500;
}

#option_btn {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.455vw 2.273vw;
  color: white;
  border: 0.152vw solid white;
  border-radius: 0.152vw;
  font-weight: 600;
}

.main_box_form input {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0vw 1vw;
  width: 29.4vw;

  color: white;
  border: none;
  outline: 0.6px solid white;
  border-radius: 0.227vw;
  transition: all 0.2s;
}

.main_box_form label {
  position: absolute;
  top: 1.515vw;
  left: 0.985vw;
  font-size: 1.288vw;
  color: rgba(128, 128, 128, 0.541);
  z-index: 111;
  transition: all 0.3s;
}

input:focus+label,
input:focus+label {
  top: 0.379vw;
  left: 0.758vw;
  font-size: 0.909vw;
  color: white;
}

input:focus,
input :valid {
  background-color: #82cee5e5;
  filter: opacity(30%);
}

/*****************************************************  */

/* seperation */
.seperation {
  width: 100%;
  height: 0.6vw;
  background-color: rgba(36, 35, 35, 0.938);
}

/* *********************************************** */
/* section01 */
.section01 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.682vw 15.909vw;
  /* background-color: red; */
}

.sec01_left {
  padding: 0px 0.758vw;
}

.sec01_left> :nth-child(1) {
  font-size: 3.636vw;
  font-weight: 900;
  color: white;
}

.sec01_left> :nth-child(2) {
  font-size: 1.818vw;
  font-weight: 400;
  color: white;
}

.sec01_right {
  position: relative;
}

.sec01_right img {
  position: relative;
  z-index: 10;
}

.sec01_right video {
  position: absolute;
  top: 5.909vw;
  left: 5.303vw;
  z-index: -1;
}

/* ************************************* */
/* section02 */
.section02 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.682vw 13.63vw;
}

.sec02_left {
  position: relative;
}

.sec02_right> :nth-child(1) {
  font-size: 3.636vw;
  font-weight: 900;
  color: white;
}

.sec02_right> :nth-child(2) {
  font-size: 1.818vw;
  font-weight: 400;
  color: white;
}

.section02 .sec02_left .sec02_left_mobile_box {
  position: absolute;
  bottom: 1.515vw;
  left: 8.788vw;
  width: 25.985vw;
  height: 8.03vw;
  border-radius: 0.7;
  background-color: black;
  border: 0.152vw solid rgba(255, 255, 255, 0.233);
}

.section02 .sec02_left .sec02_left_mobile_box :nth-child(1) {
  position: absolute;
  top: 0.758vw;
  left: 0.758vw;
}

.section02 .sec02_left .sec02_left_mobile_box :nth-child(2) {
  position: absolute;
  top: 2.273vw;
  left: 6.818vw;
  color: white;
  font-size: 1.136vw;
  font-weight: 600;
}

.section02 .sec02_left .sec02_left_mobile_box :nth-child(3) {
  position: absolute;
  top: 3.788vw;
  left: 6.818vw;
  color: blue;
  font-size: 0.985vw;
}

.section02 .sec02_left .sec02_left_mobile_box :nth-child(4) {
  position: absolute;
  right: 1.515vw;
  top: 1.894vw;
  color: white;
}

/* *********************** */
/* section03 */
.section03 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.545vw 13.636vw;
}

.sec03_left> :nth-child(1) {
  font-size: 3.636vw;
  font-weight: 900;
  color: white;
}

.sec03_left> :nth-child(2) {
  font-size: 1.818vw;
  font-weight: 400;
  color: white;
}

.sec03_right {
  position: relative;
}

.sec03_right img {
  position: relative;
  z-index: 10;
}

.sec03_right video {
  position: absolute;
  top: 2.273vw;
  left: 7.576vw;
  z-index: -1;
}

/* ***************************** */
/* section04 */
.section04 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.545vw 13.636vw;
}

.sec04_right> :nth-child(1) {
  font-size: 3.636vw;
  font-weight: 900;
  color: white;
}

.sec04_right> :nth-child(2) {
  font-size: 1.818vw;
  font-weight: 400;
  color: white;
}

/* ********************************** */

/* **************** */
/* FAQ */
.faq {
  margin: 4.545vw auto;
}

.faq h1 {
  color: white;
  text-align: center;
  font-size: 3.636vw;
  font-weight: 900;
}

.faq-box {
  margin: 1.515vw auto;
  width: 100%;
  max-width: 72vw;
  color: white;
}

.faq-box li {
  list-style: none;
  width: 100%;
  padding: 0.379vw;
}

.faq-box li label {
  display: flex;
  align-items: center;
  padding: 2.273vw;
  font-size: 1.818vw;
  font-weight: 600;
  background: #303030;
  margin-bottom: 0.227vw;
  cursor: pointer;
  position: relative;
}

label::after {
  /* content: "+"; */
  font-size: 4.545vw;
  font-weight: 300;
  position: absolute;
  right: 1.515vw;
  transition: transform 0.5s;
}

input[type="radio"] {
  display: none;
}

.faq-box .content {
  background: #303030;
  text-align: left;
  padding: 0vw 1.515vw;
  font-size: 1.818vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.faq-box input[type="radio"]:checked+label+.content {
  max-height: 45.455vw;
  padding: 2.273vw 1.515vw;
}

.faq-box input[type="radio"] :checked+label ::after {
  transform: rotate(135deg);
}

.faq .faq-box-content2 {
  padding: 1.515vw;
  text-align: center;
  font-size: 1.818vw;
  font-weight: 400;
  color: white;
}

.faq .faq-box-content3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.606vw;
}

.faq-box-content3 input {
  width: 30.303vw;
  height: 2.436vw;
  background-color: rgba(0, 0, 0, 0.493);
  padding: 0.379vw 1.515vw;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.233);
  border-radius: 0.227vw;
}

.faq .faq-box-content3 ::placeholder {
  font-size: 1.2vw;
  font-weight: 400;

}

.faq .faq-box-content3 .btn-gs {
  color: white;
  background-color: rgb(229, 9, 20);
  border: none;
  border-radius: 0.303vw;
  padding: 0.758vw 1.818vw;
  font-size: 0.9vw;
  font-weight: 500;
}

/* ************************************* */
/* Footer */
.footer {
  margin: 3.5em 7.576vw;
  color: white;
}

.footer .footer-header a {
  color: rgba(255, 255, 255, 0.7);
}

.footer .footer-header {
  text-align: start;
  margin: 0.606vw 0.606vw 0.606vw 0vw;
}

.footer .footer-box-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  gap: 1.061vw;
}

.footer .footer-box-content a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-box-translate {
  position: relative;
}

#footer-box-translate-btn {
  width: 7.927vw;
  margin: 1.515vw auto;
  height: 2.367vw;
  color: white;
  padding-left: 2.273vw;
  border-radius: 0.227vw;
  background-color: rgba(0, 0, 0, 0.493);
  border: 0.152vw solid rgba(255, 255, 255, 0.233);
}

.footer-box-translate img {
  position: absolute;
  top: 2.273vw;
  left: 0.758vw;
}

.footer-foot h5 {
  text-align: start;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.061vw;
  font-weight: 400;
}